@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript.otf');
}
*{
  margin: 0;
  padding: 0;
  font-family: DancingScript;
  color: white;
}
body{
  width: 900px;
  margin: 0 auto;
  background:  #02010a;
}
/* cabecera */
.header{
  width: 100%;
  height: 50px;
  background: #5b7989;
  padding-top: 0.9%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}
.header h1{
  margin-left: 20px;
  font-size: 32px;
  text-shadow: 2px 2px #02010a;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu ul li{
  margin-top: 5%;
  margin-right: 22%;
  font-size: 20px;
}
.Sin{
  text-decoration: none;
}
/*   imagenes   */
.cont{
  background: #d5c75f;
  border: 2px solid black;
}
.cont img{
  width: 29%;
  margin: 2%;
  box-shadow: 2px 2px #02010a;
}
/*    filtros de las imagenes */
.uno{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.tres{
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  -ms-filter: sepia(90%);
  filter: sepia(90%);
}
.dos, .cuatro, .seis{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* pie de pagina */
.pie{
  width: 100%;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  background:  #C6d5c5;
}
.contactos{
  display: flex;
  justify-content: space-around;
}
.contactos ul{
  padding-top: 2%;
  padding-bottom: 3%;
}
.contactos ul li img{
  width: 12%;
}
.pie ul{
  width: 180px;
  list-style: none;
}
.pie ul li{
  color: black;
}
.color{
  color: black;
}
.i1, .i2, .i3{
  width: 9%;
}
/*   diseño adaptativo*/
@media screen and (max-width: 900px){
  *{
    padding: 0;
    margin: 0;
  }
  body{
    width: 100%;
  }
  /*  cabecera */
  .header h1{
    margin-left: -5px;
    padding-top: 5px;
    text-align: center;
  }
  .header{
    height: 100px;
    display: block;
  }
  .menu ul{
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  nav{
    margin-left: -20px;
  }
  .menu ul li{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-top: 8px;
  }
  .menu h1{
    font-size: 50px;
  }
/*  imagenes   */
.cont{
  width: 100%;
  display: block;
}
.cont img{
  width: 90%;
  margin: 5%;
}
  /*  pie de pagina*/
  .pie{
    font-size: 20px;
    text-align: left;
  }
  .pie ul li img{
    width: 6%;
  }
  .pie ul{
    width: 100%;
  }
  .contactos{
    display: block;
    padding-left: 8%;
  }
  .contactos ul{
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .contactos ul li img{
    width: 4%;
  }
}
/* Diseño de movimiento */
.contenido{
  animation-duration: 1.5s;
  animation-name: slidein;
  -webkit-slidein: all 1.5s;
  -moz-slidein: all 1.5s;
  -ms-slidein: all 1.5s;
}
@keyframes slidein {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0;
  }
}
