@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript.otf');
}
*{
  margin: 0;
  padding: 0;
  font-family: DancingScript;
  color: white;
}
body{
  background:  #02010a;
}
/* cabecera */
.header{
  padding-top: 8px;
  height: 70px;
  background: #5b7989;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}
.header h1{
  margin-left: 25px;
  font-size: 40px;
  text-shadow: 2px 2px #02010a;
}
.header ul{
  margin-right: -25px;
  list-style: none;
  display: flex;
}
.header ul li{
  margin-right: 50px;
  font-size: 28px;
  margin-top: 13px;
}
.Sin{
  text-decoration: none;
}
/* imagen cnetral */
.cont{
  width: 100%;
  background: #82c3a6;
}
.img1{
  width: 90%;
  margin-left: 5%;
  padding-top: 2%;
  padding-bottom: 1.5%;
}
/*  movimiento de imagen  */
.img2:hover{
  border: 2px solid #82c3a6;
  box-shadow: 5px 0 #82c3a6;
  margin-top: 22px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.izquierda{
  transition: all 2s;
  -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -ms-transition:all 0.5s;
}
.img3:hover{
  border: 2px solid #82c3a6;
  box-shadow: 5px 0 #82c3a6;
  -webkit-transform:translate(20px, -5px);
  -moz-transform: translate(20px, -5px);
  transform: translate(20px, -5px);
}
.derecha{
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
}
/* imagen secundaria */
.cont1{
  width: 100%;
  background: #d5c75f;
  border: 1px solid black;
  display: flex;
}
.izquierda, .derecha{
  margin: 2%;
  padding: 0;
  font-size: 30px;
  text-align: center;
  width: 46%;
}
.izquierda img, .derecha img{
  width: 100%;
}
/* pie de pagina */
.pie{
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  padding: 1%;
  font-size: 25px;
  background:  #C6d5c5;
  display: flex;
}
.pie ul{
  margin-left: 2%;
  width: 350px;
  list-style: none;
}
.pie ul li{
  color: black;
}
.color{
  color: black;
}
.i1, .i2, .i3{
  width: 9%;
}
/*   diseño adaptativo*/
@media screen and (max-width: 900px){

}
