@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript.otf');
}
*{
  margin: 0;
  padding: 0;
  font-family: DancingScript;
  color: white;
}
body{
  width: 900px;
  margin: 0 auto;
  background:  #02010a;
}
/* cabecera */
.header{
  width: 100%;
  height: 50px;
  background: #5b7989;
  padding-top: 0.9%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}
.header h1{
  margin-left: 25px;
  font-size: 32px;
  text-shadow: 2px 2px #02010a;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu ul li{
  margin-top: 3%;
  margin-right: 16%;
}
.menu ul li{
  font-size: 25px;
}
.Sin{
  text-decoration: none;
}
/* imagen cnetral */
.cont{
  padding-top: 13.5px;
  padding-bottom: 11px;
  text-align: center;
  width: 100%;
  background: #82c3a6;
}
.img1{
  width: 90%;
}
/*  movimiento de imagen  */
.img2:hover{
  border: 2px solid #82c3a6;
  box-shadow: 5px 0 #82c3a6;
  margin-top: 22px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.izquierda{
  transition: all 2s;
  -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -ms-transition:all 0.5s;
}
.img3:hover{
  border: 2px solid #82c3a6;
  box-shadow: 5px 0 #82c3a6;
  -webkit-transform:translate(20px, -5px);
  -moz-transform: translate(20px, -5px);
  transform: translate(20px, -5px);
}
.derecha{
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
}
/* imagen secundaria */
.cont1{
  width: 100%;
  background: #d5c75f;
  border: 1px solid black;
  display: flex;
  text-align: center;
}
.izquierda, .derecha{
  font-size: 30px;
  padding: 3.5%;
  text-align: center;
  width: 400px;
}
.izquierda img, .derecha img{
  width: 100%;
}
/* pie de pagina */
.pie{
  width: 100%;
  border-radius: 0 0 10px 10px;
  font-size: 20px;
  background:  #C6d5c5;
}
.contactos{
  display: flex;
  justify-content: space-around;
}
.contactos ul li img{
  width: 15%;
}
.pie ul{
  padding-bottom: 2%;
  width: 180px;
  list-style: none;
}
.pie ul li{
  color: black;
}
.color{
  color: black;
}
.i1, .i2, .i3{
  width: 9%;
}
/*   diseño adaptativo*/
@media screen and (max-width: 900px){
  *{
    padding: 0;
    margin: 0;
  }
  body{
    width: 100%;
  }
  /*  cabecera */
  .header h1{
    margin-left: -20px;
    padding-top: 5px;
    text-align: center;
  }
  .header{
    height: 110px;
    display: block;
  }
  .menu ul{
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  nav{
    margin-left: -20px;
  }
  .menu ul li{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-top: 8px;
  }
  .menu h1{
    font-size: 50px;
  }
  .cont1{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
  .izquierda, .derecha{
    width: 90%;
    margin: 0 auto;
  }
  /*  pie de pagina*/
  .pie{
    font-size: 20px;
    text-align: left;
  }
  .pie ul li img{
    width: 6%;
  }
  .pie ul{
    width: 100%;
  }
  .contactos{
    display: block;
    padding-left: 8%;
  }
  .contactos ul{
    padding-top: 5%;
  }
  .contactos ul li img{
    width: 4%;
  }
